
.icon-call:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-soccer:before { content: '\e837'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
